.login-form {
    position: absolute;
    width: clamp(40%, 600px, 80%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to bottom, black, #333, #666, #999, white);
    padding: 3em;
    border-radius: 1em;
}

.login-form-submit {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.username-container, .password-container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.submit-login {
    width: 30%;
    font-size: 1.5em;
}